.video{
    margin: 30px
}
.cultural_content{
    font-size: 25px;
    margin: 0px 7.5%;
    line-height: 1.5;
}
.gallery{
    margin-top: 5%;
    margin-left: 7.5%;
}

.img{
    width: 30%;
    height: 267.5px;
    margin: 4px;
}
